@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins ,Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF8DB;
    color: #304463;
}

.flex {
    display: flex;
}

.container {
    width: 1100px;
    max-width: 95%;
    margin: auto;
    padding: 0 1rem;
}

/* NAVIGATION */

nav > .container {
    min-height: 100px;
    align-items: stretch;
}

.start, .end {
    width: 50%;
    align-items: center;
    gap: 1rem;
}

.start {
    align-items: center;
    justify-content: space-between;
}

.brand, .burger-menu {
    color: #6E07F3;
}

.burger-menu {
    display: none;
}

.end {
    justify-content: flex-end;
}

.contact-me {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: 2px solid #6E07F3;
    color: #6E07F3;
    font-weight: 600;
}

/* CONTENT START */

.head > .container {
    margin: 3rem auto;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.head h1, .head h2 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.head h1 {
    font-size: 2.5rem;
}

.head h2 {
    font-weight: normal;
    font-size: 1.35rem;
}

.avatar {
    margin: 2rem 0;
}

.experience .crown {
    display: flex;
    justify-content: center;
}

.computer {
    width: 95%;
    max-width: 700px;
}

.background-primary {
    background-color:  #6E07F3;
}

.experience .container {
    justify-content: center;

}

.intro {
    width: 600px;
    margin: 3rem 0;
    text-align: center;
    color: white;
}

.container-short {
    height: 110px;
}

.skill-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #cbcbcb;
    overflow: hidden;
}

.skill-container > .row {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 0.5rem;
}

.skill h1 {
    font-weight: 650;
    font-size: 1.3rem;
}

.skill p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

.skill p.title {
    margin-top: 3rem;
    color: #6E07F3;
}

.row > ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 500;
}


@media (max-width: 650px) {
    /* SKILLS */

    .skill-container {
        flex-direction: column;
        padding: 0 1.3rem;
    }   
}

@media (max-width: 620px) {
    nav > .container {
        width: auto;
        flex-wrap: wrap;
    }

    .start, .end {
        width: 100%;
        height: 100px;
    }

    .end {
        flex-direction: column;
        justify-content: center;
    }

    .burger-menu {
        display: flex;
        cursor: pointer;
    }

    /* HEAD */

    .head h1 {
        font-size: 2rem;
    }

    .head h2, .intro > p {
        font-size: 1rem;
    }
}


